In [7]:
import csv
import pandas as pd
import geopandas as gpd
import pydeck as pdk

In [8]:
# Upload data of each countries' population.
df1 = pd.read_csv("projected-population-by-country.csv")
df1.head(10)

        Entity Code  Year  Population
0  Afghanistan  AFG  1800     3280000
1  Afghanistan  AFG  1801     3280000
2  Afghanistan  AFG  1802     3280000
3  Afghanistan  AFG  1803     3280000
4  Afghanistan  AFG  1804     3280000
5  Afghanistan  AFG  1805     3280000
6  Afghanistan  AFG  1806     3280000
7  Afghanistan  AFG  1807     3280000
8  Afghanistan  AFG  1808     3280000
9  Afghanistan  AFG  1809     3280000

In [9]:
# Upload data of each countries' latitude and longtitude. 
df2 = "countries.csv"
df2 = pd.read_csv(df2)
df2.head(10)

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla
5      AL  41.153332  20.168331               Albania
6      AM  40.069099  45.038189               Armenia
7      AN  12.226079 -69.060087  Netherlands Antilles
8      AO -11.202692  17.873887                Angola
9      AQ -75.250973  -0.071389            Antarctica

In [10]:
# Merge two datas.
merged = df2.merge(df1, left_on = 'name', right_on = 'Entity', how = 'left')

# Get data before 2021
merged = merged.loc[merged["Year"] < '2021', :] 

# change object -> value 
merged['Year'] = merged['Year'].astype(int)
merged['Population'] = merged['Population'].astype(int)

# NAN -> string
merged.fillna('No data', inplace = True)

# Nomalize population
merged['normal'] = merged['Population'] / merged['Population'].max()

# Delete column "country, entity, code"
merged.drop(["country", 'Entity', 'Code'], axis='columns', inplace=True)

merged

        latitude  longitude      name  Year  Population    normal
0      42.546245   1.601554   Andorra  1800        2654  0.000002
1      42.546245   1.601554   Andorra  1801        2654  0.000002
2      42.546245   1.601554   Andorra  1802        2654  0.000002
3      42.546245   1.601554   Andorra  1803        2654  0.000002
4      42.546245   1.601554   Andorra  1804        2654  0.000002
...          ...        ...       ...   ...         ...       ...
60010 -19.015438  29.154857  Zimbabwe  2016    14030000  0.009748
60011 -19.015438  29.154857  Zimbabwe  2017    14237000  0.009891
60012 -19.015438  29.154857  Zimbabwe  2018    14439000  0.010032
60013 -19.015438  29.154857  Zimbabwe  2019    14645000  0.010175
60014 -19.015438  29.154857  Zimbabwe  2020    14863000  0.010326

[43023 rows x 6 columns]

In [11]:
initial_data = merged[merged['Year'] == 1800].to_dict(orient= 'records')
initial_data

[{'latitude': 42.546245,
  'longitude': 1.6015540000000001,
  'name': 'Andorra',
  'Year': 1800,
  'Population': 2654,
  'normal': 1.8439211741067335e-06},
 {'latitude': 23.424076,
  'longitude': 53.847818000000004,
  'name': 'United Arab Emirates',
  'Year': 1800,
  'Population': 40153,
  'normal': 2.7897123927621577e-05},
 {'latitude': 33.93911,
  'longitude': 67.709953,
  'name': 'Afghanistan',
  'Year': 1800,
  'Population': 3280000,
  'normal': 0.0022788475701093014},
 {'latitude': 17.060816,
  'longitude': -61.796428000000006,
  'name': 'Antigua and Barbuda',
  'Year': 1800,
  'Population': 37000,
  'normal': 2.5706512223793946e-05},
 {'latitude': 41.153332,
  'longitude': 20.168331,
  'name': 'Albania',
  'Year': 1800,
  'Population': 410445,
  'normal': 0.00028516511918094884},
 {'latitude': 40.069099,
  'longitude': 45.038189,
  'name': 'Armenia',
  'Year': 1800,
  'Population': 413326,
  'normal': 0.00028716675328140155},
 {'latitude': -11.202691999999999,
  'longitude': 17.873887,
  'name': 'Angola',
  'Year': 1800,
  'Population': 1567028,
  'normal': 0.0010887249847845238},
 {'latitude': -38.416097,
  'longitude': -63.616671999999994,
  'name': 'Argentina',
  'Year': 1800,
  'Population': 534000,
  'normal': 0.00037100750074340455},
 {'latitude': 47.516231,
  'longitude': 14.550072,
  'name': 'Austria',
  'Year': 1800,
  'Population': 3205587,
  'normal': 0.002227147605403648},
 {'latitude': -25.274398,
  'longitude': 133.775136,
  'name': 'Australia',
  'Year': 1800,
  'Population': 351014,
  'normal': 0.00024387420761412998},
 {'latitude': 40.143105,
  'longitude': 47.576927000000005,
  'name': 'Azerbaijan',
  'Year': 1800,
  'Population': 879960,
  'normal': 0.0006113703377418843},
 {'latitude': 43.915886,
  'longitude': 17.679076000000002,
  'name': 'Bosnia and Herzegovina',
  'Year': 1800,
  'Population': 851806,
  'normal': 0.0005918097662513791},
 {'latitude': 13.193887,
  'longitude': -59.543198,
  'name': 'Barbados',
  'Year': 1800,
  'Population': 81729,
  'normal': 5.6782906419958255e-05},
 {'latitude': 23.684994,
  'longitude': 90.35633100000001,
  'name': 'Bangladesh',
  'Year': 1800,
  'Population': 19227358,
  'normal': 0.013358603066439522},
 {'latitude': 50.503887,
  'longitude': 4.469936,
  'name': 'Belgium',
  'Year': 1800,
  'Population': 3138137,
  'normal': 0.002180285328390272},
 {'latitude': 12.238333,
  'longitude': -1.561593,
  'name': 'Burkina Faso',
  'Year': 1800,
  'Population': 1665421,
  'normal': 0.0011570855484935984},
 {'latitude': 42.733883,
  'longitude': 25.48583,
  'name': 'Bulgaria',
  'Year': 1800,
  'Population': 1992320,
  'normal': 0.0013842053630732205},
 {'latitude': 25.930414000000003,
  'longitude': 50.637772,
  'name': 'Bahrain',
  'Year': 1800,
  'Population': 64474,
  'normal': 4.4794639705861916e-05},
 {'latitude': -3.3730559999999996,
  'longitude': 29.918885999999997,
  'name': 'Burundi',
  'Year': 1800,
  'Population': 899097,
  'normal': 0.000624666162726391},
 {'latitude': 9.30769,
  'longitude': 2.315834,
  'name': 'Benin',
  'Year': 1800,
  'Population': 636559,
  'normal': 0.00044226247877475814},
 {'latitude': 4.535277,
  'longitude': 114.72766899999999,
  'name': 'Brunei',
  'Year': 1800,
  'Population': 2128,
  'normal': 1.4784718381684736e-06},
 {'latitude': -16.290154,
  'longitude': -63.588653,
  'name': 'Bolivia',
  'Year': 1800,
  'Population': 1100000,
  'normal': 0.0007642476607073877},
 {'latitude': -14.235004,
  'longitude': -51.92528,
  'name': 'Brazil',
  'Year': 1800,
  'Population': 3639636,
  'normal': 0.002528712089842176},
 {'latitude': 25.03428,
  'longitude': -77.39628,
  'name': 'Bahamas',
  'Year': 1800,
  'Population': 27350,
  'normal': 1.900197592758823e-05},
 {'latitude': 27.514162,
  'longitude': 90.433601,
  'name': 'Bhutan',
  'Year': 1800,
  'Population': 89989,
  'normal': 6.25217115812701e-05},
 {'latitude': -22.328474,
  'longitude': 24.684866,
  'name': 'Botswana',
  'Year': 1800,
  'Population': 121000,
  'normal': 8.406724267781264e-05},
 {'latitude': 53.709807,
  'longitude': 27.953389,
  'name': 'Belarus',
  'Year': 1800,
  'Population': 2355081,
  'normal': 0.0016362410409331046},
 {'latitude': 17.189877,
  'longitude': -88.49765,
  'name': 'Belize',
  'Year': 1800,
  'Population': 25526,
  'normal': 1.773471435201525e-05},
 {'latitude': 56.130366,
  'longitude': -106.34677099999999,
  'name': 'Canada',
  'Year': 1800,
  'Population': 645526,
  'normal': 0.0004484924867507246},
 {'latitude': 6.611111,
  'longitude': 20.939444,
  'name': 'Central African Republic',
  'Year': 1800,
  'Population': 479444,
  'normal': 0.00033310359585472067},
 {'latitude': 46.818188,
  'longitude': 8.227511999999999,
  'name': 'Switzerland',
  'Year': 1800,
  'Population': 1826051,
  'normal': 0.0012686865500748962},
 {'latitude': -35.675146999999996,
  'longitude': -71.542969,
  'name': 'Chile',
  'Year': 1800,
  'Population': 771447,
  'normal': 0.0005359786955543019},
 {'latitude': 7.369722,
  'longitude': 12.354722,
  'name': 'Cameroon',
  'Year': 1800,
  'Population': 1860054,
  'normal': 0.0012923108348085628},
 {'latitude': 35.86166,
  'longitude': 104.195397,
  'name': 'China',
  'Year': 1800,
  'Population': 321675013,
  'normal': 0.22349034199388046},
 {'latitude': 4.570868,
  'longitude': -74.297333,
  'name': 'Colombia',
  'Year': 1800,
  'Population': 1206000,
  'normal': 0.000837893344375554},
 {'latitude': 9.748917,
  'longitude': -83.753428,
  'name': 'Costa Rica',
  'Year': 1800,
  'Population': 51987,
  'normal': 3.6119039215631784e-05},
 {'latitude': 21.521757,
  'longitude': -77.78116700000001,
  'name': 'Cuba',
  'Year': 1800,
  'Population': 345043,
  'normal': 0.00023972573235769013},
 {'latitude': 16.002082,
  'longitude': -24.013197,
  'name': 'Cape Verde',
  'Year': 1800,
  'Population': 55716,
  'normal': 3.8709838785429824e-05},
 {'latitude': 35.126413,
  'longitude': 33.429859,
  'name': 'Cyprus',
  'Year': 1800,
  'Population': 184392,
  'normal': 0.00012811014059377874},
 {'latitude': 49.817492,
  'longitude': 15.472961999999999,
  'name': 'Czech Republic',
  'Year': 1800,
  'Population': 5516349,
  'normal': 0.003832597108086852},
 {'latitude': 51.165690999999995,
  'longitude': 10.451526,
  'name': 'Germany',
  'Year': 1800,
  'Population': 22886919,
  'normal': 0.015901158460499512},
 {'latitude': 11.825138,
  'longitude': 42.590275,
  'name': 'Djibouti',
  'Year': 1800,
  'Population': 22848,
  'normal': 1.5874118683493084e-05},
 {'latitude': 56.26392,
  'longitude': 9.501785,
  'name': 'Denmark',
  'Year': 1800,
  'Population': 1062514,
  'normal': 0.0007382034899716812},
 {'latitude': 15.414999,
  'longitude': -61.370976,
  'name': 'Dominica',
  'Year': 1800,
  'Population': 19950,
  'normal': 1.386067348282944e-05},
 {'latitude': 18.735692999999998,
  'longitude': -70.162651,
  'name': 'Dominican Republic',
  'Year': 1800,
  'Population': 89000,
  'normal': 6.18345834572341e-05},
 {'latitude': 28.033886,
  'longitude': 1.6596259999999998,
  'name': 'Algeria',
  'Year': 1800,
  'Population': 2503218,
  'normal': 0.0017391622734005685},
 {'latitude': -1.8312389999999998,
  'longitude': -78.183406,
  'name': 'Ecuador',
  'Year': 1800,
  'Population': 500000,
  'normal': 0.00034738530032153985},
 {'latitude': 58.595271999999994,
  'longitude': 25.013607,
  'name': 'Estonia',
  'Year': 1800,
  'Population': 334136,
  'normal': 0.00023214786941647608},
 {'latitude': 26.820553000000004,
  'longitude': 30.802497999999996,
  'name': 'Egypt',
  'Year': 1800,
  'Population': 4243515,
  'normal': 0.002948269465387918},
 {'latitude': 15.179383999999999,
  'longitude': 39.782334000000006,
  'name': 'Eritrea',
  'Year': 1800,
  'Population': 205010,
  'normal': 0.00014243492083783777},
 {'latitude': 40.463667,
  'longitude': -3.7492199999999998,
  'name': 'Spain',
  'Year': 1800,
  'Population': 11549294,
  'normal': 0.008024109929383516},
 {'latitude': 9.145,
  'longitude': 40.489672999999996,
  'name': 'Ethiopia',
  'Year': 1800,
  'Population': 2948990,
  'normal': 0.0020488715535904355},
 {'latitude': 61.92411,
  'longitude': 25.748151,
  'name': 'Finland',
  'Year': 1800,
  'Population': 977662,
  'normal': 0.0006792508149659146},
 {'latitude': -16.578193,
  'longitude': 179.414413,
  'name': 'Fiji',
  'Year': 1800,
  'Population': 130533,
  'normal': 9.069049081374312e-05},
 {'latitude': 46.227638,
  'longitude': 2.213749,
  'name': 'France',
  'Year': 1800,
  'Population': 29355111,
  'normal': 0.020395068101414275},
 {'latitude': -0.803689,
  'longitude': 11.609444,
  'name': 'Gabon',
  'Year': 1800,
  'Population': 158227,
  'normal': 0.00010993146782795257},
 {'latitude': 55.378051,
  'longitude': -3.435973,
  'name': 'United Kingdom',
  'Year': 1800,
  'Population': 12327466,
  'normal': 0.008564760957227142},
 {'latitude': 12.262775999999999,
  'longitude': -61.604170999999994,
  'name': 'Grenada',
  'Year': 1800,
  'Population': 29409,
  'normal': 2.043250859431233e-05},
 {'latitude': 42.315407,
  'longitude': 43.356891999999995,
  'name': 'Georgia',
  'Year': 1800,
  'Population': 1072178,
  'normal': 0.0007449177530562959},
 {'latitude': 7.946527000000001,
  'longitude': -1.0231940000000002,
  'name': 'Ghana',
  'Year': 1800,
  'Population': 2016034,
  'normal': 0.0014006811530968704},
 {'latitude': 13.443182,
  'longitude': -15.310139000000001,
  'name': 'Gambia',
  'Year': 1800,
  'Population': 103274,
  'normal': 7.175173901081341e-05},
 {'latitude': 9.945587,
  'longitude': -9.696645,
  'name': 'Guinea',
  'Year': 1800,
  'Population': 983959,
  'normal': 0.000683625785438164},
 {'latitude': 1.6508009999999997,
  'longitude': 10.267895,
  'name': 'Equatorial Guinea',
  'Year': 1800,
  'Population': 80377,
  'normal': 5.584357656788882e-05},
 {'latitude': 39.074208,
  'longitude': 21.824312,
  'name': 'Greece',
  'Year': 1800,
  'Population': 2151155,
  'normal': 0.001494559251426364},
 {'latitude': 15.783470999999999,
  'longitude': -90.23075899999999,
  'name': 'Guatemala',
  'Year': 1800,
  'Population': 458965,
  'normal': 0.00031887538872415105},
 {'latitude': 11.803749,
  'longitude': -15.180413,
  'name': 'Guinea-Bissau',
  'Year': 1800,
  'Population': 218167,
  'normal': 0.00015157601763049876},
 {'latitude': 4.860416000000001,
  'longitude': -58.93018000000001,
  'name': 'Guyana',
  'Year': 1800,
  'Population': 166034,
  'normal': 0.00011535554190717309},
 {'latitude': 22.396428,
  'longitude': 114.10949699999999,
  'name': 'Hong Kong',
  'Year': 1800,
  'Population': 20000,
  'normal': 1.3895412012861593e-05},
 {'latitude': 15.199998999999998,
  'longitude': -86.241905,
  'name': 'Honduras',
  'Year': 1800,
  'Population': 126118,
  'normal': 8.762307861190392e-05},
 {'latitude': 45.1,
  'longitude': 15.2,
  'name': 'Croatia',
  'Year': 1800,
  'Population': 1227886,
  'normal': 0.0008530990937412285},
 {'latitude': 18.971187,
  'longitude': -72.28521500000001,
  'name': 'Haiti',
  'Year': 1800,
  'Population': 723000,
  'normal': 0.0005023191442649465},
 {'latitude': 47.162494,
  'longitude': 19.503304,
  'name': 'Hungary',
  'Year': 1800,
  'Population': 3499771,
  'normal': 0.0024315379997832316},
 {'latitude': -0.789275,
  'longitude': 113.921327,
  'name': 'Indonesia',
  'Year': 1800,
  'Population': 16108545,
  'normal': 0.011191743485136078},
 {'latitude': 53.41291,
  'longitude': -8.243889999999999,
  'name': 'Ireland',
  'Year': 1800,
  'Population': 4064749,
  'normal': 0.0028240681041933574},
 {'latitude': 31.046051000000002,
  'longitude': 34.851612,
  'name': 'Israel',
  'Year': 1800,
  'Population': 209954,
  'normal': 0.00014586986668741714},
 {'latitude': 20.593684,
  'longitude': 78.96288,
  'name': 'India',
  'Year': 1800,
  'Population': 168574895,
  'normal': 0.11712088105249409},
 {'latitude': 33.223191,
  'longitude': 43.679291,
  'name': 'Iraq',
  'Year': 1800,
  'Population': 1076920,
  'normal': 0.0007482123552445453},
 {'latitude': 32.427908,
  'longitude': 53.68804599999999,
  'name': 'Iran',
  'Year': 1800,
  'Population': 6269721,
  'normal': 0.0043560178250345305},
 {'latitude': 64.96305100000001,
  'longitude': -19.020835,
  'name': 'Iceland',
  'Year': 1800,
  'Population': 61428,
  'normal': 4.26783684563031e-05},
 {'latitude': 41.87194,
  'longitude': 12.56738,
  'name': 'Italy',
  'Year': 1800,
  'Population': 18822234,
  'normal': 0.013077134821624595},
 {'latitude': 18.109581,
  'longitude': -77.297508,
  'name': 'Jamaica',
  'Year': 1800,
  'Population': 401000,
  'normal': 0.00027860301085787497},
 {'latitude': 30.585164000000002,
  'longitude': 36.238414,
  'name': 'Jordan',
  'Year': 1800,
  'Population': 217000,
  'normal': 0.00015076522033954828},
 {'latitude': 36.204824,
  'longitude': 138.252924,
  'name': 'Japan',
  'Year': 1800,
  'Population': 30294378,
  'normal': 0.0210476431991685},
 {'latitude': -0.023559,
  'longitude': 37.906193,
  'name': 'Kenya',
  'Year': 1800,
  'Population': 2574000,
  'normal': 0.0017883395260552871},
 {'latitude': 41.20438,
  'longitude': 74.766098,
  'name': 'Kyrgyzstan',
  'Year': 1800,
  'Population': 530343,
  'normal': 0.0003684667246568528},
 {'latitude': 12.565679,
  'longitude': 104.990963,
  'name': 'Cambodia',
  'Year': 1800,
  'Population': 2090000,
  'normal': 0.0014520705553440366},
 {'latitude': -3.3704169999999998,
  'longitude': -168.734039,
  'name': 'Kiribati',
  'Year': 1800,
  'Population': 17876,
  'normal': 1.2419719257095692e-05},
 {'latitude': -11.875001,
  'longitude': 43.872219,
  'name': 'Comoros',
  'Year': 1800,
  'Population': 56346,
  'normal': 3.9147544263834965e-05},
 {'latitude': 17.357822,
  'longitude': -62.782998,
  'name': 'Saint Kitts and Nevis',
  'Year': 1800,
  'Population': 17202,
  'normal': 1.1951443872262257e-05},
 {'latitude': 40.339852,
  'longitude': 127.510093,
  'name': 'North Korea',
  'Year': 1800,
  'Population': 4345000,
  'normal': 0.003018778259794181},
 {'latitude': 35.907757000000004,
  'longitude': 127.766922,
  'name': 'South Korea',
  'Year': 1800,
  'Population': 9395000,
  'normal': 0.006527369793041734},
 {'latitude': 29.311659999999996,
  'longitude': 47.481766,
  'name': 'Kuwait',
  'Year': 1800,
  'Population': 81280,
  'normal': 5.6470954420269515e-05},
 {'latitude': 48.019573,
  'longitude': 66.923684,
  'name': 'Kazakhstan',
  'Year': 1800,
  'Population': 2041282,
  'normal': 0.0014182227212219069},
 {'latitude': 19.856270000000002,
  'longitude': 102.495496,
  'name': 'Laos',
  'Year': 1800,
  'Population': 470000,
  'normal': 0.00032654218230224744},
 {'latitude': 33.854721000000005,
  'longitude': 35.862285,
  'name': 'Lebanon',
  'Year': 1800,
  'Population': 332000,
  'normal': 0.00023066383941350245},
 {'latitude': 13.909444,
  'longitude': -60.97889300000001,
  'name': 'Saint Lucia',
  'Year': 1800,
  'Population': 24000,
  'normal': 1.667449441543391e-05},
 {'latitude': 47.166000000000004,
  'longitude': 9.555373,
  'name': 'Liechtenstein',
  'Year': 1800,
  'Population': 5802,
  'normal': 4.031059024931148e-06},
 {'latitude': 7.873054,
  'longitude': 80.77179699999999,
  'name': 'Sri Lanka',
  'Year': 1800,
  'Population': 1213000,
  'normal': 0.0008427567385800557},
 {'latitude': 6.4280550000000005,
  'longitude': -9.429499,
  'name': 'Liberia',
  'Year': 1800,
  'Population': 313543,
  'normal': 0.00021784045843743313},
 {'latitude': -29.609988,
  'longitude': 28.233608,
  'name': 'Lesotho',
  'Year': 1800,
  'Population': 276361,
  'normal': 0.00019200749796432213},
 {'latitude': 55.169438,
  'longitude': 23.881275,
  'name': 'Lithuania',
  'Year': 1800,
  'Population': 778655,
  'normal': 0.0005409866020437372},
 {'latitude': 49.815273,
  'longitude': 6.129583,
  'name': 'Luxembourg',
  'Year': 1800,
  'Population': 127030,
  'normal': 8.825670939969042e-05},
 {'latitude': 56.879635,
  'longitude': 24.603189,
  'name': 'Latvia',
  'Year': 1800,
  'Population': 590588,
  'normal': 0.00041032317949259514},
 {'latitude': 26.3351,
  'longitude': 17.228331,
  'name': 'Libya',
  'Year': 1800,
  'Population': 531472,
  'normal': 0.00036925112066497884},
 {'latitude': 31.791702,
  'longitude': -7.09262,
  'name': 'Morocco',
  'Year': 1800,
  'Population': 2503218,
  'normal': 0.0017391622734005685},
 {'latitude': 43.750298,
  'longitude': 7.412841,
  'name': 'Monaco',
  'Year': 1800,
  'Population': 7789,
  'normal': 5.411568208408947e-06},
 {'latitude': 47.411631,
  'longitude': 28.369884999999996,
  'name': 'Moldova',
  'Year': 1800,
  'Population': 712558,
  'normal': 0.0004950643496530316},
 {'latitude': 42.708678000000006,
  'longitude': 19.37439,
  'name': 'Montenegro',
  'Year': 1800,
  'Population': 126582,
  'normal': 8.794545217060231e-05},
 {'latitude': -18.766947000000002,
  'longitude': 46.869107,
  'name': 'Madagascar',
  'Year': 1800,
  'Population': 1543133,
  'normal': 0.0010721234412821574},
 {'latitude': 7.131474000000001,
  'longitude': 171.184478,
  'name': 'Marshall Islands',
  'Year': 1800,
  'Population': 5828,
  'normal': 4.049123060547869e-06},
 {'latitude': 17.570692,
  'longitude': -3.9961660000000006,
  'name': 'Mali',
  'Year': 1800,
  'Population': 1403398,
  'normal': 0.0009750396714012967},
 {'latitude': 46.862496,
  'longitude': 103.84665600000001,
  'name': 'Mongolia',
  'Year': 1800,
  'Population': 619000,
  'normal': 0.0004300630017980663},
 {'latitude': 21.00789,
  'longitude': -10.940835,
  'name': 'Mauritania',
  'Year': 1800,
  'Population': 382696,
  'normal': 0.000265885929783704},
 {'latitude': 35.937496,
  'longitude': 14.375416,
  'name': 'Malta',
  'Year': 1800,
  'Population': 134072,
  'normal': 9.314928396941898e-05},
 {'latitude': -20.348404000000002,
  'longitude': 57.552152,
  'name': 'Mauritius',
  'Year': 1800,
  'Population': 62865,
  'normal': 4.3676753809427205e-05},
 {'latitude': 3.202778,
  'longitude': 73.22068,
  'name': 'Maldives',
  'Year': 1800,
  'Population': 42378,
  'normal': 2.944298851405243e-05},
 {'latitude': -13.254307999999998,
  'longitude': 34.301525,
  'name': 'Malawi',
  'Year': 1800,
  'Population': 737000,
  'normal': 0.0005120459326739497},
 {'latitude': 23.634501,
  'longitude': -102.552784,
  'name': 'Mexico',
  'Year': 1800,
  'Population': 6181708,
  'normal': 0.0042948689801601304},
 {'latitude': 4.210483999999999,
  'longitude': 101.97576600000001,
  'name': 'Malaysia',
  'Year': 1800,
  'Population': 287000,
  'normal': 0.00019939916238456386},
 {'latitude': -18.665695,
  'longitude': 35.529562,
  'name': 'Mozambique',
  'Year': 1800,
  'Population': 1982324,
  'normal': 0.0013772604361491922},
 {'latitude': -22.957639999999998,
  'longitude': 18.49041,
  'name': 'Namibia',
  'Year': 1800,
  'Population': 229000,
  'normal': 0.00015910246754726525},
 {'latitude': 17.607789,
  'longitude': 8.081666,
  'name': 'Niger',
  'Year': 1800,
  'Population': 1244861,
  'normal': 0.0008648928246871448},
 {'latitude': 9.081999,
  'longitude': 8.675277000000001,
  'name': 'Nigeria',
  'Year': 1800,
  'Population': 12100855,
  'normal': 0.008407318296644813},
 {'latitude': 12.865416,
  'longitude': -85.207229,
  'name': 'Nicaragua',
  'Year': 1800,
  'Population': 219387,
  'normal': 0.00015242363776328332},
 {'latitude': 52.132633,
  'longitude': 5.291266,
  'name': 'Netherlands',
  'Year': 1800,
  'Population': 2254522,
  'normal': 0.0015663756041030372},
 {'latitude': 60.472024,
  'longitude': 8.468946,
  'name': 'Norway',
  'Year': 1800,
  'Population': 868570,
  'normal': 0.0006034569006005597},
 {'latitude': 28.394857000000002,
  'longitude': 84.12400799999999,
  'name': 'Nepal',
  'Year': 1800,
  'Population': 3881000,
  'normal': 0.002696404701095792},
 {'latitude': -0.522778,
  'longitude': 166.931503,
  'name': 'Nauru',
  'Year': 1800,
  'Population': 1834,
  'normal': 1.2742092815794081e-06},
 {'latitude': -40.900557,
  'longitude': 174.88597099999998,
  'name': 'New Zealand',
  'Year': 1800,
  'Population': 100000,
  'normal': 6.947706006430796e-05},
 {'latitude': 21.512583,
  'longitude': 55.923255000000005,
  'name': 'Oman',

In [12]:
# Set layers 
layer = pdk.Layer(
    "HeatmapLayer",
    initial_data,
    opacity=0.8,
    get_position=["longitude", "latitude"],
    aggregation="ADD",
    get_weight="normal",
    auto_highlight=True,
    pickable=True,
    get_radius=200)

center = [1.6015540000000001, 42.546245] 
view_state = pdk.ViewState( longitude=center[0], latitude=center[1], zoom=1) # Render 
r = pdk.Deck(
    layers=[layer], 
    initial_view_state = view_state ,
    views=[pdk.View(type='MapView', controller=None)],
    tooltip={
        'html': '<b>Nation:</b> {name}',
        'style': {
            'color': 'white'
        }
    }
)


# Make widgets 
import ipywidgets as widgets
from IPython.display import display
slider = widgets.IntSlider(1800, min=1800, max=2020, step=2)

# Define functions for slider 
def on_change(v):
    results = merged[merged['Year'] == slider.value].to_dict(orient='records')
    layer.data = results
    r.update()
        
# Connect deck with slider 
display(slider)
slider.observe(on_change)
r.show()

/opt/anaconda3/lib/python3.7/site-packages/pydeck/bindings/deck.py:88: UserWarning: Mapbox API key is not set. This may impact available features of pydeck.
  UserWarning,

IntSlider(value=1800, max=2020, min=1800, step=2)

DeckGLWidget(json_input='{"initialViewState": {"latitude": 42.546245, "longitude": 1.6015540000000001, "zoom":…