In [20]:
import csv
import pandas as pd
import geopandas as gpd
import pydeck as pdk
shapefile = '/Users/maxwell/Desktop/Tansition of World Population/countries_110m /ne_110m_admin_0_countries.shp'
shapefile

'/Users/maxwell/Desktop/Tansition of World Population/countries_110m /ne_110m_admin_0_countries.shp'

In [64]:
gdf.columns = ['country', 'country_code', 'geometry']
gdf.head()

,country,country_code,geometry
0,Fiji,FJI,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,United Republic of Tanzania,TZA,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,Western Sahara,SAH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Canada,CAN,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,United States of America,USA,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [65]:
print(gdf[gdf['country'] == 'Antarctica'])
gdf = gdf.drop(gdf.index[159])
#print(gdf[gdf['country'] == 'Antarctica'])

Empty GeoDataFrame
Columns: [country, country_code, geometry]
Index: []

In [66]:
datafile = 'projected-population-by-country.csv'
df = pd.read_csv(datafile, names = ['entity', 'code', 'year', 'population'], skiprows = 1)
df.head()

        entity code  year  population
0  Afghanistan  AFG  1800     3280000
1  Afghanistan  AFG  1801     3280000
2  Afghanistan  AFG  1802     3280000
3  Afghanistan  AFG  1803     3280000
4  Afghanistan  AFG  1804     3280000

In [67]:
#Perform left merge to preserve every row in gdf.
merged = gdf.merge(df, left_on = 'country_code', right_on = 'code', how = 'left')

#year < 2020 
merged = merged.loc[merged["year"] < '1900', :] 

#Replace NaN values to string 'No data'.
merged.fillna('No data', inplace = True)

#change 'year' from object to value 
#merged['year'] = merged['year'].astype(int)

# delete column of "country, entity, code"
merged.drop(['country_code', 'entity', 'code'], axis='columns', inplace=True)

#merged['population'] = merged['population'].astype(float)
merged

,country,geometry,year,population
0,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1800,130533.0
1,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1801,130746.0
2,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1802,130959.0
3,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1803,131172.0
4,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1804,131386.0
...,...,...,...,...
48864,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1895,239604.0
48865,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1896,245821.0
48866,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1897,252005.0
48867,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1898,258236.0
48868,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1899,264500.0

In [68]:
#change population to normal values.
merged['normal'] = merged['population'] / merged['population'].max()
merged['normal'] = merged['normal'].astype(float)
merged

,country,geometry,year,population,normal
0,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1800,130533.0,0.000317
1,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1801,130746.0,0.000318
2,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1802,130959.0,0.000318
3,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1803,131172.0,0.000319
4,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1804,131386.0,0.000320
...,...,...,...,...,...
48864,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1895,239604.0,0.000583
48865,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1896,245821.0,0.000598
48866,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1897,252005.0,0.000613
48867,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1898,258236.0,0.000628
48868,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",1899,264500.0,0.000643

In [69]:
import json

#Read data to json
merged_json = merged.to_json()

#Convert to str like object
#json_data = json.dumps(merged_json)

In [70]:
merged_json = json.loads(merged_json)
type(merged_json)

dict

In [80]:
plottable = merged[merged['year'] == 1800].to_dict(orient='records')

In [81]:
geojson = pdk.Layer(
    'GeoJsonLayer',
    data = plottable,
    opacity=0.8,
    stroked=False,
    filled=True,
    extruded=True,
    wireframe=True,
    get_elevation='properties.normal * 100',
    get_fill_color='[255, 1/(properties.normal), 255]',
    #get_line_color=[255, 255, 255],
    pickable=True
)

INITIAL_VIEW_STATE = pdk.ViewState(
  latitude=49.254,
  longitude=-123.13,
  zoom=1,
  max_zoom=16,
  pitch=45,
  bearing=0
)

r = pdk.Deck(
    layers=[geojson],
    initial_view_state=INITIAL_VIEW_STATE,  
    tooltip={
        'html': '<b>Country:</b>{elevationValue}',
        'style': {
            'color': 'white'
        }
    })

In [82]:
# Widget 슬라이더 생성
import ipywidgets as widgets
from IPython.display import display
slider = widgets.IntSlider(1800, min=1801, max=2020, step=2)

# Widget에서 사용할 함수 정의 
def on_change(v):
    results = merged[merged['year'] == slider.value].to_dict(orient='records')
    geojson.data = results
    r.update()

In [83]:
#merged_json['year']
merged_json.keys()

dict_keys(['type', 'features'])

In [84]:
slider.observe(on_change, names='value')
display(slider)
r.show()

IntSlider(value=1800, max=2020, min=1800, step=2)

DeckGLWidget(json_input='{"initialViewState": {"bearing": 0, "latitude": 49.254, "longitude": -123.13, "maxZoo…

In [77]:
# Deck과 슬라이더 연결
#display(slider)
#slider.observe(on_change)

IntSlider(value=1800, max=2020, min=1800, step=2)

DeckGLWidget(json_input='{"initialViewState": {"bearing": 0, "latitude": 49.254, "longitude": -123.13, "maxZoo…

In [ ]:
#def multipolygon_to_coordinates(x):
#    lon, lat = x[0].exterior.xy
#    return [[x, y] for x, y in zip(lon, lat)]

#merged['coordinates'] = merged['geometry'].apply(multipolygon_to_coordinates)